body{
    font-family: arial;
}
table{
    width: 100%;
    border-collapse: collapse ;
}
thead{
    background-color: gray;
}
th{
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }